#
# Podman "internal" network
# IPv4: 10.66.90.0/24
# IPv6: fd00:be:fcf:6690::/24
# DNS: .dns.podman
#

[Match]
Name=podbr-int

[Link]
RequiredForOnline=no
ActivationPolicy=manual

[Network]
KeepConfiguration=yes
ConfigureWithoutCarrier=yes
IgnoreCarrierLoss=yes

# LinkLocalAddressing=no
# IPv6AcceptRA=no

LLMNR=true
MulticastDNS=true

DNS=10.66.90.1
DNS=fd00:6690::1
Domains=~dns.podman ~0.9.6.6.0.0.d.f.ip6.arpa ~90.66.10.in-addr.arpa
DNSSEC=no
DNSOverTLS=no

