[Match]
Name=virbr-nat

[Link]
RequiredForOnline=no
ActivationPolicy=manual

[Network]
KeepConfiguration=yes
ConfigureWithoutCarrier=yes
IgnoreCarrierLoss=yes

# LinkLocalAddressing=no
# IPv6AcceptRA=no

LLMNR=true
MulticastDNS=true

DNS=10.66.77.1
DNS=fd00:6677::1
Domains=~libvirt ~7.7.6.6.0.0.d.f.ip6.arpa ~77.66.10.in-addr.arpa
DNSSEC=no
DNSOverTLS=no
