[Unit]
Description=Load nftables from /etc/nftables.conf
ConditionPathExists=/etc/nftables.conf
ConditionPathExists=!/etc/nftables-good.conf
Wants=network-pre.target
Before=network-pre.target
After=nftables-load-good.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/nft -f /etc/nftables.conf

[Install]
WantedBy=multi-user.target
Also=nftables-load-good.service
